- model_class = AvDevice
.page-header
  %h1=t '.title', :default => "Audio / Visual Interactive Devices"
  %h3=t '.sub_title',:default => "SmartBoards, Document Cameras, Projectors, Sound Equipment, Overhead, etc…" 
= render partial: '/shared/search', locals:{partial: 'avdevices', path: av_devices_path}  
= render '/shared/import', file_name: "AVDevices.xlsx", import_path: import_av_devices_path
