- model_class = Device
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
= render partial: '/shared/search', locals:{partial: 'devices', path: devices_path}
= render '/shared/import', file_name: "Devices.xlsx", import_path: import_devices_path
